<nav class="navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-text" >
              <!--home-->
                <li><a ui-sref="app">
                    <span class="glyphicon glyphicon-home"
                     aria-hidden="true"></span> Home</a></li>
              <!--login-->
                 <li><a ui-sref="app.login">
                    <span class="glyphicon glyphicon-log-in"
                     aria-hidden="true"></span> Login</a></li>
                     <!--login-->
                 <li><a ui-sref="app.logout">
                    <span class="glyphicon glyphicon-log-out"
                    aria-hidden="true"></span> Logout</a></li>
                               <!--settings-->
              <!--   <li><a ui-sref="app.settings">
                   <span class="glyphicon glyphicon-cog"
                    aria-hidden="true"></span></span> Settings</a></li> -->
                    <li><a ui-sref="app.register">Sign Up!</a></li>
                  <li><a ui-sref="app.dashboard">
                    <span class="glyphicon glyphicon-user"
                    aria-hidden="true"></span></span> Hello {{currentUser}}!</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <h1>VoteUp<small id="subTitle">&nbspYour vote counts!</small></h1>
</div>
