<div class="container">
<div class="row text-center register-page">
<div class="col-xs-12 col-sm-4"></div>
<div class="container">
  <div class="row text-center logout-page">
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-4" ng-controller="IndexController">
      <a ui-sref="app.poll" class="btn btn-primary btn-lg btn-block">Create New Poll</a>
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-4"></div>
</div>
</div>
