
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

p {
  font-size: 15px;
}

address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}

img {
  height:75px;
}

input {
  margin: 5px;

  }

  .home-main {
    padding-top: 30px;
    padding-bottom: 30px;
  }

.radio-form {

  }

#subTitle {
    font-size: 20px;
  }

.show {
  color: red;
}

.display-polls {
  padding-top: 10px;
}

#main-table {
  padding-top: 20px;
  padding-bottom: 10px;
}

.poll-btn {
  width: 250px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #CDD422;
  color: floralwhite;
}

.logout-page, .login-page, .register-page  {
  padding-top: 100px;
}

.navbar-inverse .navbar-nav > li > a {
   color: white; /*Change active text color here*/
   font-size: 15px;
    }

.navbar-inverse {
  background: #9fa8a3;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: black;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}
